*.pdf
*.md
!README.md

genTests_p1.cpp
labs.zip
Midterm/
Final/
QuickSort/

cmake-build-debug/
cmake-build-release/
.vs/
x64/
.idea/
.vscode/
fullsubmit.tar.gz
*.vcxproj
*.vcxproj.*

*.o
*.exe
*_debug
*_profile
*_valgrind

Project_1/puzzle

Lab_7/eecs281-lab07-verifier
zzh/
hide/
lqj/
pyh/
.vscode.zip
venv/
zzh.zip

.swp