*.pdf
*.md
genTests_p1.cpp
labs.zip
Midterm/
Final/
QuickSort/

cmake-build-debug/
.vs/
x64/
.idea/
.vscode/
fullsubmit.tar.gz
*.vcxproj
*.vcxproj.*

*.o
*.exe
*_debug
*_profile
*_valgrind

/zzh
/hide
/lqj
/pyh
.vscode.zip
venv/
zzh.zip

.swp